.header{
    background: #286E6C;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}
.logo h1{
    font-family: sans-serif;
    color: #fff;
}
span{
    color: #ecc901;
}

.links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;
    font-family: sans-serif;
}
ul li a{
    position: relative;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
}

ul li a::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 4px;
    background-color: #ecc901;
    transition: .3s ease-in-out;
   
}
ul li a:hover::after{
    width: 100%;
}
  


.content-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem;
   
}

.left h1{
    font-family: sans-serif;
    font-size: 3em;
    color: #fff;
    margin-bottom:.5rem ;
}
.left p{
    font-family: sans-serif;
    font-size: 1.2em;
    color: #fff;
    margin-bottom:.5rem ;
}
.primary-btn-2 {
    background-color: #ffd15c;
    color: #000;
    border: none;
    padding: 12px 24px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
  }
  .primary-btn-1 {
    background-color: #ffd15c;
    color: #000;
    border: none;
    padding: 12px 24px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 4rem;
    width: fit-content;
  }

  .primary-btn-1:hover,
  .primary-btn-2:hover {
    background-color: #ffc82e;
  }

.right .right-img{
    width: 400px; 
    border-radius: .5rem;
}
.right .right-img::after{
    width: 400px; 
    border: 1px solid #000;
    border-radius: .5rem;
}
.right-img img{
    width: 300px;
    border-radius: .5rem;
    box-shadow: 50px 30px 3px 4px rgb(0,0,0,0.5);

}
.menu{
    display: none;
}
.hide{
    display: flex;
    position: relative;
}

.hide ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    top: 40px;
    border-radius:.5rem ;
    width: 200px;
    height: 200px;
    right: 0px;
    position: absolute;
    padding: 1rem;
    gap: .5rem;
    background: #338885;
}

@media (max-width: 1060px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }
    .content-1{
        display: flex;
        padding: 4rem 2rem;
    }
    .primary-btn-1 {
        margin: 2rem 0rem;
    }
    .right .right-img{
        display: none;
        align-items: center;
        width: 400px; 
        border-radius: .5rem;
    }


}

@media (max-width: 690px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }
    .content-1{
        padding: 4rem 2rem;
    }
    .primary-btn-2 {
        display: none;
    }
    .right .right-img{
        display: none;
    }
    .links ul{
        display: none;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        list-style: none;
        font-family: sans-serif;
    }
    .menu{
        display: flex;
    }
      


}
@media (max-width: 500px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .content-1{
        padding: 4rem 1rem;
    }
    .primary-btn-2 {
        display: none;
    }
    .right .right-img{
        display: none;
    }
    .links ul{
        display: none;
    }
    .left h1{
        font-size: 2.5em;
    }
    .left p{
        font-size: .8em;
    }
    .primary-btn-1 {
        font-size: 1em;
      }
      


}